<!DOCTYPE html>
<html>
  <head>
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="mail-container" style="width:100%; padding: 64px 0; background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
">
      <div style="margin:0 auto; width: 500px;">
        <div class="mail-header" style="width: 100%;
        border-radius: 12px 12px 0 0;
        height: 80px;
        background-color: #0080ff;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        ">
        <h1 style="width: 100%;">Web Template</h1>
      </div>
      <div class="mail-content" style="padding: 24px 0;
        background: white;
        width: 100%; text-align:center; border-radius: 0 0 12px 12px;"
      >
        <h2 style="width: 100%; color: #333;">Hello {{name}}</h2>
        <p style="width: 100%; color: #333;" class="desc" style="font-size: 16px;">Please click the link below reset your password</p>
        <a class="reset-link" href="{{link}}" style="
          display: flex;
          justify-content: center;
          align-items: center;
          height: 45px;
          border-radius: 4px;
          background-color: #0080ff;
          text-decoration: none;
          font-size: 20px;
          color: white;
          padding: 12px 24px;
          margin-top: 12px;
          width: fit-content;
          margin: 0 auto;
          line-height: 100%;
          "
        >
          Reset Your Password
        </a>
      </div>
      </div>
    </div>
  </body>
</html>